html, body, #content {
    background-color: #282828;
    height: 100%;
}

#logo {
    height: 40px;
    padding-top: 10px;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #3269c4;
    background-image: none;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 0 15px;
}

.navbar.navbar-inverse.navbar-fixed-top a {
    color: #fff;
}

.repl-btn {
    background-color: transparent;
    border: 0;
    color: #f8f8f2;
    cursor: pointer;
    font-weight: 400;
    font-size: 1em;
    flex: 0;
    position: relative;
    padding: .5em .5em .4em
}

.repl-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #8be9fd;
    opacity: 0;
    transition: all 30ms ease-in-out
}

.repl-btn:focus:after,.repl-btn:hover:after {
    height: 4px;
    opacity: 1
}

.repl-btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.repl-btn-danger:focus,.repl-btn-danger:hover {
    color: #f55
}

.repl-btn-danger:after {
    background: #f55
}

.btn-link:hover,.btn-link:focus {
    outline: none;
}

.fab {
    font-family: 'Font Awesome 5 Brands' !important;
}

/* LOGO/SPINNER */

.spinner-wrapper {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.spinner-half-circle {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #388908;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    transform-origin: center right;
    transform: rotate(-30deg);
}

.spinner-background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 200%;
    background-color: #75ee2d;
    text-align: center;
    animation: spin 3s linear infinite;
}

.spinner-logo-wrapper {
    width: 100%;
    height: 100%;
}

.spinner-logo {
    width: 100%;
}

@keyframes spin {
    0% {
        transform-origin: center center;
        transform: rotateY(0deg) rotateX(0deg) rotate(0deg);
    }
    50% {
        transform-origin: center center;
        transform: rotateY(70deg) rotateX(30deg) rotate(720deg);
    }
    100% {
        transform-origin: center center;
        transform: rotateY(0deg) rotateX(0deg) rotate(360deg);
    }
}

/* scrabble font */

.scrabble {
    font-family: 'scramble';
}

@font-face {
    font-family: 'scramble';
    font-style: normal;
    src: url("../webfonts/scramble.ttf");
}